body {
  font-family: Arial, Helvetica, sans-serif;
  background-color:rgb(255, 255, 255);
}

.content {
    width: 100%;
}

button:hover {
  opacity: 0.8;
}
.container {
  padding: 16px;
}

button {
  background-color:#000000;
  color:rgb(255, 255, 255);
  padding: 14px 20px;
  margin: 12px 0;
  border: none;
  cursor: pointer;
  width: 36%;
}


